<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/budgeticon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/budgeticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activityTransactionList"
            android:exported="false"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activityPlanningVariationItem"
            android:label="@string/title_activity_planning_variation_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activityPlanningVariation" />
        <activity android:name=".activityLog" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityCategory"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitySubCategory"
            android:label="@string/title_activity_subcategory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityCategoryItem"
            android:label="@string/title_activity_category_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitySubCategoryItem"
            android:label="@string/title_activity_subcategory_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityTransactionItem"
            android:label="@string/title_activity_transaction_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityPlanning"
            android:label="@string/title_activity_planning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityCommon"
            android:label="@string/title_activity_common"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityCommonItem"
            android:label="@string/title_activity_common"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityPlanningItem"
            android:label="@string/title_activity_planning_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityCategory2"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityAccount"
            android:label="@string/title_activity_account_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityAccountItem"
            android:label="@string/title_activity_account_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityPlannedTx"
            android:label="@string/title_activity_planned_tx"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>